/* =================================================================== */
/* $Revision: 1.13 $ $Date: 2011/01/31 04:00:23 $                      */
/* CSS für BasisLayout                                                 */
/* =================================================================== */

form.editor, div.editor {
	background-color:#EEEEEE;
	padding: 8px;
	border:1px solid #666666; 
}

table.editor{
	margin-left:auto;
	margin-right:auto;
}

table.editorPanel {  
	
}
.editorTextfield {
	border: 1px solid #336EAD; 
}
.editorCell {
	padding:4px;
}
.editorPMUD > input{
	position:relative;
        top: 4px;
}

.editorFile{
	background-color:white;
	width: 660px;
}

.editorHint{
	font-size:90%;
}

td.editorHeadline{
	border: 1px solid #004A99;
	padding: 4px;
	background: #E6EDF5;
}

td.editorValidationMessage     { color:#FFFFFF; background-color:#FF0000; padding:3px; }

table.editorRepeater{
	border-spacing: 4px;
	border-collapse: separate;
}

td.editorRepeater{
	border:1px solid #C6C6C6;
	background-color: #E6E6E6;
	padding: 4px;
}
/*
td.editorHeadline              { color:#FFFFFF; background-color:#15516E; padding:3px; }

td.editorCellWithPanelLinesOff { }
td.editorCellWithPanelLinesOn  { border-left:1px solid #7791ac }
td.editorCellWithCompLinesOff  { padding:3px; }
td.editorCellWithCompLinesOn   { padding:3px; border-left:1px solid #7791ac }
td.editorCellValidationFailed  { padding:3px; border:2px solid #FF0000 }
table.editorPanel              { }
td.editorRepeaterButton        { padding-right:3px; padding-bottom:3px }
.editorText                    { font-size:12px; font-family:Verdana,Arial,Helvetica,SansSerif; line-height:24px }
td.editorHLine                 { border-top:1px solid #7791ac; border-left:1px solid #7791ac }
.editorButton                  { color:#ffffff; background-color:#7791ac; 
                                 font-weight:bold; font-family:Verdana,Arial,Helvetica,SansSerif; 
                                 font-size:10px; letter-spacing:1px }
.editorHint					   { font-size:11px; font-family:Verdana,Arial,Helvetica,SansSerif; line-height:24px}
*/
/* =================================================================== */
/* Help Hover (button + messagebox on mouse over)                      */
/* =================================================================== */
div.helpHover{
	margin-top:4px;
}

div.helpHover a {
	font:bold 12px verdana, sans-serif;
	text-decoration:none;
	background:#15516E; 
	display: block;
	padding:2px;

}

div.helpHover a:link, 
div.helpHover a:visited,
div.helpHover a:focus, 
div.helpHover a:active{
	font-weight:bold; 
	color:#ffffff !important; 
	text-decoration:none !important;
}

div.helpHover a:hover {
	text-decoration:none !important;
	font-weight:bold;
	color:black !important;
	background:#FFFCAA;
	border: none;
}

div.helpHover a span {display:none;
}

div.helpHover a:hover span {
	position:fixed; bottom:20px; left:40px; z-index:30;
	text-align:left;
	display:block;
	color:black;
	width:300px;
	background:#FFFCAA;
	font:normal 12px Verdana, Arial, Helvetica, sans-serif;
	border-width:2px;
	border-color:#ED8F2B;
	border-style:outset; 
	padding:10px;
}
