
#Attributes to set in your own application
#here you can add and configure your messages
MyInstitution=Your Library <Beispiel>
Title.DocPortalTrailer=DocPortal - Digital Library MyCoRe Sample
MessageKey.Headline=MyCoRe Message
Login.ChangeUserID=MyCoRe: change Account
Nav.Application=DocPortal 
Nav.Service.MailRef=<a href="mailto:admin@mycore.de">admin@mycore.de</a>
MCR.WorkflowEngine.PlaceDefault.xmetadiss=Essen
MCR.WorkflowEngine.PublisherDefaultName.xmetadiss=MyCoRe Community
OMD.ID=DocPortal ID

