table.ir-table-docdetails {
	border: 3px solid blue;
	font-size: 90%
}
table.ir-table-docdetails {
	border: 3px solid blue;
	font-size: 90%
}

.table.ir-table-docdetails:empty {
    margin-bottom: 0px;
}

table.ir-table-docdetails>tbody>tr>th {
	width: 175px;
	font-weight: normal;
	background-color: #e6e6e6;
	border: 4px solid white;
}

table.ir-table-docdetails>tbody>tr>td {
	border: 4px solid white;
}

.ir-derivate-list-files {
  list-style: none;
  margin-left: -40px;
}
.ir-derivate-list-row th{
	vertical-align: top;
}

a.ir-edit-btn:visited i{
	color: white;
}

span.ir-badge-gnd {
	color: #004A99;
	border-top: none;
	background-color: white;
	vertical-align: super;
	font-size: 66%;
}

textarea.ir-textarea-xml {
	font-family: monospace;
	font-size: 90%;
}

/* =================================================================== */
/* Info Hover (button + messagebox on mouse over)                      */  
/* ToDo Migration                                                      */
/* =================================================================== */
div.docdetails-infohover a {
	font: bold 10px courier, sans-serif;
	text-decoration: none;
	display: boxed;
	padding: 1px;
}

div.docdetails-infohover a:link,
div.docdetails-infohover a:visited,
div.docdetails-infohover a:focus,
div.docdetails-infohover a:active{
	font-weight: bold;
	color: #ffffff;
	background: #0A50A1;
	border: 1px solid #0A50A1;
	text-decoration: none !important;
}

div.docdetails-infohover a:hover {
	text-decoration: none !important;
	font-weight: bold;
	border: 1px solid #0A50A1;
	color: #0000ff !important;
	background: #ffff88;
}

div.docdetails-infohover a span {
	display: none;
}

div.docdetails-infohover a:hover span {
	position: fixed;
	bottom: 20px;
	left: 40px;
	z-index: 30;
	text-align: justify;
	display: block;
	color: #0A50A1;
	width: 300px;
	background: #ffff88;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	border-width: 3px;
	border-color: #0A50A1;
	border-style: outset;
	padding: 10px;
}

dl.ir-derivate-list{
	font-size: 85%;
}
div.ir-row{
	margin-bottom:6px;
}
div.ir-row-1{
	padding-top:6px;
	background-color:#F6F6F6;
}
div.ir-embedded{
	margin: 3px;
	padding: 3px 12px 12px 12px;
}

span.ir-badge{
	font-weight: normal;
	font-size: 0.85em;
	height: 1.5em;
}


.ir-btn-group-resolving{
	margin-bottom:12px;
	width:102%;
	
}
.ir-btn-group-resolving button{
	background-color: rgb(102, 102, 102);
	color: white;
	width: 55px;
	white-space: inherit;
	text-align: right;
}

.ir-btn-group-resolving a{
	position: absolute !important;
	right: 6px;
	left: 55px;
	white-space: inherit;
	text-align: left;
}


div.ir-browse-classification ul{
	list-style:inside none none;
	margin-left:-50px;
}

div.ir-browse-classification ul ul{
	margin-left:-40px;
}

.ir-resultentry-image{
	border:none;
}

.ir-workflow-message{
	padding: 8px 15px;
}

.ir-pagination{
	margin-top:0px;
}

.ir-content-main li{
	padding-bottom:6px;
}
.table.ir-table-docdetails:empty {
    margin-bottom: 0px;
}

table.ir-table-docdetails>tbody>tr>th {
	width: 175px;
	font-weight: normal;
	background-color: #e6e6e6;
	border: 4px solid white;
}

table.ir-table-docdetails>tbody>tr>td {
	border: 4px solid white;
}

.ir-derivate-list-files {
  list-style: none;
  margin-left: -40px;
}
.ir-derivate-list-row th{
	vertical-align: top;
}

a.ir-edit-btn:visited i{
	color: white;
}

a.ir-facets-btn{
	text-decoration:none !important;
}

span.ir-badge-gnd {
	color: #004A99;
	border-top: none;
	background-color: white;
	vertical-align: super;
	font-size: 66%;
}

textarea.ir-textarea-xml {
	font-family: monospace;
	font-size: 90%;
}

/* =================================================================== */
/* Info Hover (button + messagebox on mouse over)                      */  
/* ToDo Migration                                                      */
/* =================================================================== */
div.docdetails-infohover a {
	font: bold 10px courier, sans-serif;
	text-decoration: none;
	display: boxed;
	padding: 1px;
}

div.docdetails-infohover a:link,
div.docdetails-infohover a:visited,
div.docdetails-infohover a:focus,
div.docdetails-infohover a:active{
	font-weight: bold;
	color: #ffffff;
	background: #0A50A1;
	border: 1px solid #0A50A1;
	text-decoration: none !important;
}

div.docdetails-infohover a:hover {
	text-decoration: none !important;
	font-weight: bold;
	border: 1px solid #0A50A1;
	color: #0000ff !important;
	background: #ffff88;
}

div.docdetails-infohover a span {
	display: none;
}

div.docdetails-infohover a:hover span {
	position: fixed;
	bottom: 20px;
	left: 40px;
	z-index: 30;
	text-align: justify;
	display: block;
	color: #0A50A1;
	width: 300px;
	background: #ffff88;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	border-width: 3px;
	border-color: #0A50A1;
	border-style: outset;
	padding: 10px;
}

dl.ir-derivate-list{
	font-size: 85%;
}
div.ir-row{
	margin-bottom:6px;
}
div.ir-row-1{
	padding-top:6px;
	background-color:#F6F6F6;
}
div.ir-embedded{
	margin: 3px;
	padding: 3px 12px 12px 12px;
}

span.ir-badge{
	font-weight: normal;
	font-size: 0.85em;
	height: 1.5em;
}


.ir-btn-group-resolving{
	margin-bottom:12px;
	width:102%;
	
}
.ir-btn-group-resolving button{
	background-color: rgb(102, 102, 102);
	color: white;
	width: 55px;
	white-space: inherit;
	text-align: right;
	
	
}

.ir-btn-group-resolving a{
	position: absolute !important;
	right: 6px;
	left: 55px;
	white-space: inherit;
	text-align: left;
}

div.ir-browse-classification ul{
	list-style:inside none none;
	margin-left:-24px;
}

.ir-resultentry-image{
	border:none;
}

.ir-workflow-message{
	padding: 8px 15px;
}

.ir-pagination{
	margin-top:0px;
}