/* =================================================================== */
/* template_mycoresample-1/CSS/style_navigation.css                    */
/* $Revision$ $Date$                                                   */
/* =================================================================== */

/* =================================================================== */
/* Navigation below                                                    */
/* =================================================================== */
#navi_below_cell {
    padding: 3px;
    text-align: right;
}
#navi_below_cell table{
    margin-right: 0px;
    margin-left: auto;
    margin-bottom: 3px;
}

.navi_below th, .navi_below td, .navi_below a
{
	color: #15516E; /* ocean */
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.navi_below a
{
	color: #15516E; /* ocean */
	text-decoration: none;
} 
.navi_below a:hover
{
	text-decoration: underline;
}		
.navi_below .marked a
{
	text-decoration: underline;
}	

/* =================================================================== */
/* General Main navigation column                                      */
/* =================================================================== */
.navi_column
{
	background : #CAD9E0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	border-style: none solid solid solid;
	border-width: 1px;
	border-color: #0C374C;
}

/* =================================================================== */
/* General Main navigation column                                      */
/* =================================================================== */
table.navi_history
{
    color: #031822; 
    background : transparent;
    font-size: 11px;
    font-weight : bold;
    border-style: none none solid none;
    border-width: 5px;
    border-color: #14516E;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.navi_history a
{
        color: #8F3D00;
		font-weight : normal;
		text-decoration: none;
}
.navi_history a:hover
{
		text-decoration: underline;
}
td.navi_history{
    text-align:left;
    padding-left: 3%;
    padding-bottom: 5px;
}

td.navi_history_user{
    text-align:right;
    padding-right: 3%;
    padding-bottom: 5px;
}


/* =================================================================== */
/* General Main navigation column (left side)                          */
/* =================================================================== */

 table.navi_left{
 	font-family: Verdana, Arial, Helvetica, sans-serif;
 	margin:15px 15px 15px 35px;
    width:210px;
 }
 
 table.navi_left tr td{
	border-top:1px solid #7791ac;
    padding-bottom:45px;
 }
 
 div.navi_left_mainentry{
	font-size: 11px;
	font-weight: bold;
	border-bottom:1px solid #7791ac;	
  }
  
 div.navi_left_subentry{
    font-size: 11px;
	font-weight : normal;
    
    background-image:url(../images/whiteArrow.gif);
    background-repeat:no-repeat;
    background-position:0px 9px;
    margin-left: 20px;
}

  div.navi_left_mainentry a,
  div.navi_left_subentry a{
  	display: block;
    text-decoration: none; 
    color: #EFF4F6;		  
  }  
  
  div.navi_left_mainentry a{
    padding-top:6px;
    padding-bottom:6px;
    padding-left:10px;
  } 
  
  div.navi_left_subentry a{
	margin-left:5px;
    padding-left:5px;
  }

  div.navi_left_mainentry a:hover,
  div.navi_left_subentry a:hover{
	color: #8F3D00;	
	background-color: #CAD9E0;  
  }
 
/* =================================================================== */
/* Sitemap items                                                       */
/* =================================================================== */
  th.sitemap{
  	width:33%;
  	text-align:left;
  	padding-bottom:10px;
  }

  div.sitemap-item{
    font-size: 11px;
	font-weight : normal;
    font-family: Verdana, Arial, Helvetica, sans-serif;

    background-image:url(../images/greenArrow.gif);
    background-repeat:no-repeat;
    background-position:left 0.5ex;
    margin-top: 0.1em;
    margin-left: 0.8em;
    padding-left:0.7em;
  }
  
 div.sitemap-item a{
   	color: #EFF4F6;	!important
    padding: 0.1em;
    text-decoration: none; 
  }

  div.sitemap-item a:hover{
	color: #EFF4F6;	
   	text-decoration:underline;
  }
  
  