<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <display-name>navigation</display-name>
    <description></description>

    <listener>
       <listener-class>org.mycore.frontend.jsp.ContextListener</listener-class>
    </listener>
    <!-- 
    <filter>
       <filter-name>SetCharacterEncoding</filter-name>
       <filter-class>org.mycore.filters.SetCharacterEncodingFilter</filter-class>
       <init-param>
          <param-name>encoding</param-name>
          <param-value>UTF-8</param-value>
       </init-param>
    </filter>

    <filter-mapping>
        <filter-name>SetCharacterEncoding</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    -->
    
    <!--  deprecated -->
    <servlet>
        <servlet-name>MCRCheckNewFileServlet</servlet-name>
        <servlet-class>org.mycore.frontend.servlets.MCRCheckNewFileServlet</servlet-class>
    </servlet>    
    
    <!-- servlets -->    
    <servlet>
        <servlet-name>MCRRegisterUserWorkflowServlet</servlet-name>
        <servlet-class>org.mycore.frontend.workflowengine.jbpm.registeruser.MCRRegisterUserWorkflowServlett</servlet-class>
    </servlet>     
    
    <servlet>
        <servlet-name>MCRCheckDerivateServlet</servlet-name>
        <servlet-class>org.mycore.frontend.workflowengine.jbpm.MCRCheckDerivateServlet</servlet-class>
    </servlet>    
    
	<servlet>
        <servlet-name>MCRWorkflowActions</servlet-name>
        <servlet-class>org.mycore.frontend.workflowengine.jbpm.MCRWorkflowActions</servlet-class>
    </servlet>     
	
    <servlet>
         <servlet-name>MCRJSPObjectServlet</servlet-name>
         <servlet-class>org.mycore.frontend.servlets.MCRJSPObjectServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>NavServlet</servlet-name>
        <servlet-class>org.mycore.frontend.jsp.NavServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>HandleXMLServlet</servlet-name>
        <servlet-class>org.mycore.frontend.servlets.MCRStaticXMLFileServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>MCRLayoutServlet</servlet-name>
        <servlet-class>org.mycore.common.xml.MCRLayoutServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MCREditorServlet</servlet-name>
        <servlet-class>org.mycore.frontend.editor.MCREditorServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.mycore.frontend.jsp.LoginServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>org.mycore.frontend.jsp.LogoutServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>MCREditorForwardServlet</servlet-name>
        <servlet-class>org.mycore.frontend.servlets.MCREditorForwardServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>EditorSubmitted</servlet-name>
        <servlet-class>org.mycore.frontend.jsp.DebugServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>DebugServlet</servlet-name>
        <servlet-class>org.mycore.frontend.jsp.DebugServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>MCRUserPrivServlet</servlet-name>
        <servlet-class>org.mycore.user.MCRUserPrivServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>MCRCheckQueryServlet</servlet-name>
        <servlet-class>org.mycore.frontend.jsp.query.MCRCheckQueryServlet</servlet-class>
    </servlet>    
    
    <servlet>
        <servlet-name>MCRResortQueryServlet</servlet-name>
        <servlet-class>org.mycore.frontend.jsp.query.MCRResortQueryServlet</servlet-class>
    </servlet>   
    
    <servlet>
        <servlet-name>MCRPassToTargetServlet</servlet-name>
        <servlet-class>org.mycore.frontend.workflowengine.jbpm.MCRPassToTargetServlet</servlet-class>
    </servlet>     
    
    <servlet>
        <servlet-name>MCRCheckMetadataServlet</servlet-name>
        <servlet-class>org.mycore.frontend.workflowengine.jbpm.MCRCheckMetadataServlet</servlet-class>
    </servlet>      
    
    <servlet>
        <servlet-name>MCRWorkflowEngineDoorServlet</servlet-name>
        <servlet-class>org.mycore.frontend.workflowengine.jbpm.MCRWorkflowEngineDoorServlet</servlet-class>
    </servlet>      
    
    <servlet id="Zip">
         <servlet-name>MCRZipServlet</servlet-name>
         <servlet-class>org.mycore.services.zipper.MCRZipServlet</servlet-class>
    </servlet>  
    
      <servlet id="OAIProvider">
            <servlet-name>MCROAIProvider</servlet-name>
            <servlet-class>org.mycore.services.oai.MCROAIProvider</servlet-class>
      </servlet>
      
      <servlet id="MCRAdminServlet">
      		<servlet-name>MCRAdminServlet</servlet-name>
      		<servlet-class>org.mycore.frontend.servlets.MCRAdminServlet</servlet-class>
      </servlet>
      
      <servlet>
      		<servlet-name>MCRPutDocumenttoWorkflow</servlet-name>
      		<servlet-class>org.mycore.frontend.servlets.MCRPutDocumentToWorkflow</servlet-class>
      </servlet>

      <servlet>
            <servlet-name>MCRPutUserRegistrationToWorkflow</servlet-name>
            <servlet-class>org.mycore.frontend.servlets.MCRPutUserRegistrationToWorkflow</servlet-class>
      </servlet>      
      

      <servlet id="IndexBrowser">
            <servlet-name>MCRIndexServlet</servlet-name>
            <servlet-class>org.mycore.frontend.indexbrowser.MCRIndexServlet</servlet-class>
      </servlet>      
      
    <!-- mycore servlets -->
    
    <servlet>
        <servlet-name>MCRQueryServlet</servlet-name>
        <servlet-class>org.mycore.services.query.MCRQueryServlet</servlet-class>
    </servlet>

    <servlet>
    <servlet-name>MCRCheckNewDataServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRCheckNewDataServlet</servlet-class>
    </servlet>

    <servlet>
    <servlet-name>MCRCheckEditDataServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRCheckEditDataServlet</servlet-class>
    </servlet>    
    
    <servlet>
    <servlet-name>MCRStartEditorServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRStartEditorServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MCRFileNodeServlet</servlet-name>
        <servlet-class>org.mycore.datamodel.ifs.MCRFileNodeServlet</servlet-class>
    </servlet>
    
    <servlet>
    <servlet-name>MCRListWorkflowServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRListWorkflowServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MCRUploadServlet</servlet-name>
        <servlet-class>org.mycore.frontend.fileupload.MCRUploadServlet</servlet-class>
    </servlet>

    <servlet id="MCRFileViewWorkflowServlet">
         <servlet-name>MCRFileViewWorkflowServlet</servlet-name>
         <servlet-class>org.mycore.frontend.servlets.MCRFileViewWorkflowServlet</servlet-class>
    </servlet>

    <servlet id="MCRAccessCheckServlet">
         <servlet-name>MCRAccessCheckServlet</servlet-name>
         <servlet-class>org.mycore.access.MCRAccessCheckServlet</servlet-class>
    </servlet>    

    <!-- servlet mappings -->

    <servlet-mapping>
        <servlet-name>MCRRegisterUserWorkflowServlet</servlet-name>
        <url-pattern>/registeruserworkflow</url-pattern>
    </servlet-mapping>    

    <servlet-mapping>
        <servlet-name>MCRCheckDerivateServlet</servlet-name>
        <url-pattern>/servlets/MCRCheckDerivateServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
    <servlet-name>NavServlet</servlet-name>
    <url-pattern>/nav</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
         <servlet-name>MCRJSPObjectServlet</servlet-name>
         <url-pattern>/receive/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MCREditorServlet</servlet-name>
        <url-pattern>/editor</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MCREditorServlet</servlet-name>
        <url-pattern>/servlets/XMLEditor</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MCREditorForwardServlet</servlet-name>
        <url-pattern>/editor-forward/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MCRCheckNewDataServlet</servlet-name>
        <url-pattern>/servlets/MCRCheckNewDataServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MCRCheckEditDataServlet</servlet-name>
        <url-pattern>/servlets/MCRCheckEditDataServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MCRStartEditorServlet</servlet-name>
        <url-pattern>/start_edit</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MCREditorServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MCRListWorkflowServlet</servlet-name>
        <url-pattern>/servlets/MCRListWorkflowServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
         <servlet-name>MCRFileViewWorkflowServlet</servlet-name>
         <url-pattern>/servlets/MCRFileViewWorkflowServlet/*</url-pattern>
    </servlet-mapping>    

    <servlet-mapping>
               <servlet-name>HandleXMLServlet</servlet-name>
               <url-pattern>*.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
               <servlet-name>EditorSubmitted</servlet-name>
               <url-pattern>/submitted</url-pattern>
    </servlet-mapping>
        
    <servlet-mapping>
               <servlet-name>MCRFileNodeServlet</servlet-name>
               <url-pattern>/file/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
               <servlet-name>MCRZipServlet</servlet-name>
               <url-pattern>/zip</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
               <servlet-name>DebugServlet</servlet-name>
               <url-pattern>/debug</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
               <servlet-name>MCRUploadServlet</servlet-name>
               <url-pattern>/servlets/MCRUploadServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
               <servlet-name>MCRUserPrivServlet</servlet-name>
               <url-pattern>/servlets/MCRUserPrivServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
               <servlet-name>MCRCheckQueryServlet</servlet-name>
               <url-pattern>/searchresult</url-pattern>
    </servlet-mapping>
        
    <servlet-mapping>
               <servlet-name>MCRResortQueryServlet</servlet-name>
               <url-pattern>/resortresult</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
           <servlet-name>MCROAIProvider</servlet-name>
           <url-pattern>/servlets/MCROAIProvider</url-pattern>
    </servlet-mapping>      
      
    <servlet-mapping>
            <servlet-name>MCRAccessCheckServlet</servlet-name>
            <url-pattern>/servlets/MCRAccessCheckServlet</url-pattern>
    </servlet-mapping> 
    
    <servlet-mapping>
            <servlet-name>MCRLayoutServlet</servlet-name>
            <url-pattern>/servlets/MCRLayoutServlet</url-pattern>
    </servlet-mapping>    

    <servlet-mapping>
        <servlet-name>MCRAdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>MCRPutDocumenttoWorkflow</servlet-name>
		<url-pattern>/servlets/MCRPutDocumenttoWorkflow/*</url-pattern>
    </servlet-mapping> 
    
    <servlet-mapping>
        <servlet-name>MCRPutUserRegistrationToWorkflow</servlet-name>
        <url-pattern>/servlets/MCRPutUserRegistrationToWorkflow/*</url-pattern>
    </servlet-mapping> 

   <servlet-mapping>
        <servlet-name>MCRWorkflowActions</servlet-name>
        <url-pattern>/workflowaction</url-pattern>
    </servlet-mapping>
		
    <servlet-mapping>
        <servlet-name>MCRPassToTargetServlet</servlet-name>
        <url-pattern>/servlets/MCRPassToTargetServlet/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MCRCheckMetadataServlet</servlet-name>
        <url-pattern>/servlets/MCRCheckMetadataServlet/*</url-pattern>
    </servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>MCRWorkflowEngineDoorServlet</servlet-name>
        <url-pattern>/workflowengine</url-pattern>
    </servlet-mapping>     
        
    <servlet-mapping>
    	<servlet-name>MCRIndexServlet</servlet-name>
        <url-pattern>/servlets/IndexServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>MCRIndexServlet</servlet-name>
        <url-pattern>/index/*</url-pattern>
    </servlet-mapping>    

    <!-- specific servlets -->

    <welcome-file-list>
    <welcome-file>nav</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>

  <jsp-config>
    <taglib>
        <taglib-uri>/WEB-INF/lib/mycore-taglibs.jar</taglib-uri>
        <taglib-location>/WEB-INF/lib/mycore-taglibs.jar</taglib-location>
    </taglib>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
    </jsp-property-group>
    <jsp-property-group>
      <description>Indicate that the files with 'xjsp' extension are JSP documents</description>
      <url-pattern>*.jspx</url-pattern>
      <is-xml>true</is-xml>
    </jsp-property-group>    
  </jsp-config>  
  
</web-app>