/* =================================================================== */
/* $Revision: 1.18 $ $Date: 2005/02/10 11:55:03 $                      */
/* =================================================================== */

/* =================================================================== */
/* Docdetails                                                          */
/* =================================================================== */

div.docdetails-tabbar{
	font-size: .8em;
}
div.docdetails-tabbar-info{
	font-style: italic; 
	color: grey; 
	padding-right:1em; padding-top:.8em;
	float:right !important;
}
	
div.docdetails{
	font-size: 0.8em;
	margin: 0em 2em 4em 2em;
}

div.docdetails-header {

	vertical-align: bottom;
	margin-bottom:.4em;
	min-height:1em;
}

div.docdetails-block{
	margin-top:1em;
}

div.docdetails-infolabel,
div.docdetails-label {
	white-space:nowrap;
	color:#565656;
	font-family: Verdana,Arial,sans-serif;
	margin-left:2em;
	margin-bottom:0.2em;
}

div.docdetails-values {
	margin-left:2em;
}

div.docdetails-preview {
	vertical-align: top;
}

div.docdetails-preview img {
	padding: 10px;
	border: none;
}

table.docdetails-values-table {
	border-spacing: 4px;
	margin-top:.4em;
	width:100%;
}
td.docdetails-value {
     vertical-align: top;
     line-height: 125%;
     padding-bottom:0.4em;
}

td.docdetails-value-bold {
     vertical-align: top;
     font-weight:bold;
     line-height: 125%;
     padding-bottom:0.4em;   
}


div.docdetails-separator {
	margin-top:.8em;
}
div.docdetails-separator hr {
	border-bottom: 1px solid #565656;
	height: 1px;	
}

dl.docdetails-derivate-list {
	margin: 0px;
	padding-bottom: 10px
}

dl.docdetails-derivate-list dd {
	padding-top: 5px;
	padding-bottom: 0px;
}

dl.docdetails-derivate-list img {
	border: 0px;
	padding-right: 10px;
}


.docdetails-value a img {
	border: none;
}

.docdetails-value ul {
	list-style-position: outside;
	list-style-type: disc;
	padding-left:24px;
}

.docdetails-info-btn{
	border:none;
	padding:0px;
}

div.docdetails-infobox a, div.docdetails-infobox a:VISITED{
	color:black;
}

div.docdetails-image{
	padding-top:12px;
	padding-bottom:12px;
	padding-left:6px;
	padding-right:6px;
}

div.docdetails-image img{
	display: block;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
}
div.docdetails-image-footer{
	font-size:0.8em;
}
