/* =================================================================== */
/* SearchResults                                                       */
/* =================================================================== */

table.ur-searchresult-table{
	margin-bottom: 0px;
}
table.ur-searchresult-table td{
	border:none !important;
}

table.ur-searchresult-table td:first-child{
	width:4.5em;
	text-align: right;
}

table.ur-searchresult-table th{
	border:none !important;
}

/* OLD ... */

div.tool-menu div.button, 
div.menu div.button {
	font-size:85%;
	text-align:center;
	color: #FFFFFF;
  	border: 1px solid #565656;
  	border-radius: 3px;
  	background-color:#969696;
   	margin: 4px 3px;  	
  	min-height: 22px;
  	min-width: 22px;
  	
}

div.btn-tools-techdata{
	background-image: url('../images/icon_technische_daten.png');
	background-size: 22px 22px;
}

div.btn-tools-techdata-checked{
	background-image: url('../images/icon_technische_daten-checked.png') !important;
	background-size: 22px 22px !important;
	background-color:#FFFFFF !important;
}
