/* =================================================================== */
/* $Revision: 1.18 $ $Date: 2005/02/10 11:55:03 $                      */
/* =================================================================== */
/* dunkelblau #0A50A1 rgb(10, 80, 161)                                 */
/* tuerkis rgb(128, 197, 221);                                         */
/* beige #9A5B11;  rgb(154,91, 17)                                     */
/* helles beige rgb(174,111, 37);                                      */
/* lichtes hellblau rgb(245, 255, 255);                                */
/* hintergrund: beige: #FDEDDB                                         */
/* =================================================================== */
/* Docdetails                                                          */
/* =================================================================== */
	
table.docdetails-table {
	border-spacing: 0px;
	font-family: verdana;
	font-size: 12px;
	width:100%;
}

th.docdetails-header {
	font-size: 150%;
	font-weight: bold;
	background-color: #B3C9E0;
	padding: 5px;
	vertical-align: bottom;
	border-bottom: 5px solid white;
}

td.docdetails-label {
	text-align:right;
	background-color: #E6E6E6;
	color:#666666;
	padding: 3px;
	vertical-align: top;
	border-bottom: 4px solid white;
	min-width:110px;
}

td.docdetails-values {
	border-bottom: 4px solid white;
	padding: 3px 3px 3px 12px;
}

td.docdetails-preview {
	vertical-align: top;
}

td.docdetails-preview img {
	padding: 10px;
	border: none;
}

table.docdetails-values-table {
	border-spacing: 4px;
}

td.docdetails-value-title {
	font-weight: bold;
	font-size: 115%;
	line-height: 130%;
	padding: 5px 5px 5px 20px;
	color:#004A99;
	
}

td.docdetails-separator {
	padding: 0px 0px 3px 0px;
}

td.docdetails-separator hr {
	border: none;
	background-color: #A6A6A6;
	color: #A6A6A6;
	height: 1px;
}

dl.docdetails-derivate-list {
	margin: 0px;
	padding-bottom: 10px
}

dl.docdetails-derivate-list dd {
	padding-top: 5px;
	padding-bottom: 0px;
}

dl.docdetails-derivate-list img {
	border: 0px;
	padding-right: 10px;
}

.docdetails-value a {
	color: #336EAD;
	text-decoration: none;
}

.docdetails-value a:hover {
	text-decoration: underline;
}

.docdetails-value a img {
	border: none;
}

.docdetails-value ul li:before {
	content: none !important;
}

/* =================================================================== */
/* Resultdetails                                                       */
/* =================================================================== */
table.resultdetails-table {
	border-spacing: 0px;
	font-family: verdana;
	font-size: 12px;
	width: 95%;
}
td.resultdeails-header{
	font-weight: bold;
}
td.resultdetails-id{
	font-family: monospace;
	text-align: right;
	vertical-align:top;
}
td.resultdetails-value{

}

td.resultdetails-icon{
	vertical-align:top;
	text-align: center;
	width: 64px;
		
}
span.button{
  text-align:center;
  border: 1px solid #565656;
  border-radius: 3px;
  background-color:#969696;
  padding:3px;
  margin-bottom:12px;
}

span.button a{
  color:white !important;
}

/* =================================================================== */
/* Searchresult Navigation on Docdetails page
/* =================================================================== */
div.searchdetail-navigation{
   width: 140px;
   padding:6px;
   border-radius: 15px;
   margin-bottom: 12px;
   margin-top:12px;
   border-radius:5px;
   border: 1px solid #565656;
   background-color:#E6E6E6; 
}
div.searchdetail-navigation div.headline{
  text-align:center;
  font-weight:bold;
}

div.searchdetail-navigation div.hitcount{
  text-align:center;
  padding-top:3px;
  padding-bottom:3px;
}

div.searchdetail-navigation div.button{
  text-align:center;
  border: 1px solid #565656;
  border-radius: 3px;
  background-color:#969696;
  padding-left:3px;
  padding-right:3px;
}

div.searchdetail-navigation div.centerbutton{
  margin-left:36px;
  margin-right:36px;
}

div.searchdetail-navigation div.button a{
  color:white;
}

/* =================================================================== */
/* Toolbar on docdetails page                                          */
/* =================================================================== */

div.docdetails-toolbar{
    padding-bottom:8px;
    clear: both;        
}
div.docdetails-toolbar-item{
    float:left;
    padding-left:6px;
	padding-right:6px;    
}

div.docdetails-image{
	padding-top:12px;
	padding-bottom:12px;
	padding-left:6px;
	padding-right:6px;
}
div.docdetails-image-footer{
	font-size:85%;
}

/* =================================================================== */
/* Info Hover (button + messagebox on mouse over)                      */
/* =================================================================== */
div.docdetails-infohover a {
	font: bold 10px courier, sans-serif;
	text-decoration: none;
	display: boxed;
	padding: 1px;
}

div.docdetails-infohover a:link,
div.docdetails-infohover a:visited,
div.docdetails-infohover a:focus,
div.docdetails-infohover a:active{
	font-weight: bold;
	color: #ffffff;
	background: #0A50A1;
	border: 1px solid #0A50A1;
	text-decoration: none !important;
}

div.docdetails-infohover a:hover {
	text-decoration: none !important;
	font-weight: bold;
	border: 1px solid #0A50A1;
	color: #0000ff !important;
	background: #ffff88;
}

div.docdetails-infohover a span {
	display: none;
}

div.docdetails-infohover a:hover span {
	position: fixed;
	bottom: 20px;
	left: 40px;
	z-index: 30;
	text-align: justify;
	display: block;
	color: #0A50A1;
	width: 300px;
	background: #ffff88;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	border-width: 3px;
	border-color: #0A50A1;
	border-style: outset;
	padding: 10px;
}

/* Star Hack - this entry is only interpreted by IE 
   necessary, because it cannot handle position:fixed correctly */
* html * div.docdetails-infohover a:hover span {
	position: absolute !important;
}