/* =================================================================== */
/* TaskList                     					                   */
/* =================================================================== */

div.task {
	background-color:#E6EDF5;
	padding:12px;
	margin-bottom:24px;
	border:1px solid #004A99;
}
div.task h4 {
	padding-top:0px;
}

table.tasklistObject{
	background-color: #B3C9E0;
    margin: 8px;
       
    border-width: 1px;
    border-style: solid;
    border-color: #14516E;
    width:98%;
}

table.tasklistObject td{
	padding:4px;
}
table.tasklistObject td.tasklistTitle{
	font-weight: bold;
}

table.tasklistDerivate{
	background-color: #80A5CC;
	margin-bottom:12px !important; 
	
}

table.tasklistDerivate th{
	padding-left:8px;
	font-weight: bold;
	vertical-align: middle;
	border:none;
}

table.tasklistDerivate td{
	padding:4px;
	vertical-align: middle;
	color: #000000;
	font-weight: normal;
	
}

table.tasklistDerivate tr td a{
	padding-left:4px;
}
table.tasklistDerivate tr td a:link, 
table.tasklistDerivate tr td a:visited,
table.tasklistDerivate tr td a:focus, 
table.tasklistDerivate tr td a:active{
	font-weight:normal !important;		
	color: #da1f3d;
}

div.process {
	background-color:#E6E6E6;
	padding:12px;
	margin-bottom:16px;
	border:1px solid #004A99;
}