/* =================================================================== */
/* style_classificcation-browser.css                                     */
/* $Revision: 1.18 $ $Date: 2005/02/10 11:55:03 $                      */
/* =================================================================== */


div.index-browser{
  line-height:120%;
}

div.index-browser dt{
  font-style: bold;
  font-size:120%;
  padding-top:12px;
  padding-bottom: 6px;
}

div.index-browser dd{
  padding-bottom:12px;
}

div.index-browser div.itemtitle {
  font-weight: bold;
}